# --- Python General ---
python_ingestion/__pycache__/
python_ingestion/data/
*.py[cod]
*.so

# --- Jupyter Notebooks ---
notebooks/
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- Virtual Environment ---
venv/
.venv/

# --- Secrets Environment Variables ---
.env 
python_ingestion/.env 
backend/.env

# Local IDE configuration
.vscode/

# --- Node.js and Express Backend ---

# Dependencies
backend/node_modules/

# Local IDE configuration
backend/.vscode/

# Build and logs
backend/dist/
backend/build/
backend/*.log
backend/logs/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# --- Testing Artifacts ---
.pytest_cache/
.benchmarks/
.coverage
htmlcov/
test-results/
