MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=<your_mongodb_dbName>
COLLECTION_NAME=<your_mongodb_collection_name>
GTFS_STATIC_URL=<gtfs_static_url>
EMBEDDING_MODEL=<embedding_model_name>
EMBEDDING_DIMENSION=<embedding_dimension>
CHUNK_SIZE=<chunk_size>
CHUNK_OVERLAP=<chunk_overlap>
HF_HUB_DISABLE_SYMLINKS_WARNING=1